* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body{
    background: #eff0f4;
}
.header {
    height: 4rem;
    background: #5fc0cd;
    color: #fff;
    left: 0;
    right: 0;
    line-height: 3rem;
    text-align: center;
}

.register {
    position: absolute;
    right: 0;
    top: 0.5rem;
    padding-right: 3%;
    font-size: 1.6rem;
}
.login_1{
    font-size: 1.8rem;
    padding-top: 0.5rem
}
.close {
    position: absolute;
    top: 0.5rem;
    padding-left: 3%;
    font-size: 1.6rem;
}
input{
    height:2rem;
    border-style: none;
    outline: none; 
    border-left: 1px solid gray;
    text-indent: 2.5rem;
}
.input_up{
    margin-top: 0.8rem ;  
    font-size: 1.6rem;
    color: #e5e8ea  ;
    line-height: 4rem;
    background: #fff;
                                                                                                                                                                                                                                                                                                      
}
.input_down{
    margin-top: 0.8rem;
    font-size: 1.6rem;
    color: #e5e8ea;
    height: 4rem;
    line-height: 4rem;
    background: #fff;
    
}
button{
    width: 100%;
    height: 4.5rem;
    background: #5fc0cd;
    color: #fff;
    margin-top: 1rem;
    font-size: 1.8rem;
    border-style: none;
}
.forgetpw{
    color: #5fc0cd;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
   text-decoration-line: none;
   border-bottom: #5fc0cd 1px solid;
   display: block;
}
.img_1{
    width: 14%;
    float: left;
    height:4rem;
    position: relative;
}
.img_2{
    width:14%;
    float: left;
    height:4rem; 
   position: relative;
   }
img {
    position: absolute;
    left:40%;
    top:30%;
}

   