html {
    font-size: 625%;
}

body {
    font-size: .16rem;
    color: #999999;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    background: #fafafa;
}

h4 {
    text-align: center;
    color: #000000;
    font-weight: 550;
}

h2,h3 {
    display: inline-block;
    white-space: nowrap;
}

a { 
    text-decoration:none; 
    color:#ffffff; 
} 

/*页眉*/

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .40rem;
    color: #29b078;
}

/*导航栏*/

/*导航栏*/

.nav-1{
    background: #29b078;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.nav-x{
    border: none;
}
.navbar-nav>li>a{
    color: #fff!important;
    border-bottom: #29b078 solid 2px;
}
.nav-2>li:hover>a{
    border-bottom: #fff solid 2px;
}
.nav-2{
    text-align: center;
    border: none;
}
.nav-2>a{
    background: #29b078;
}
.nav-3{
    border: none;
}
.logo{
    margin-top: .15rem;
    margin-left: .15rem;
}
.bg>img{
    min-width: 100%;
}



/*页脚*/

footer {
    color: #ffffff;
    background: #29b078;
    width: 100%;
}

.note {
    padding-top: .30rem;
}

.weixin {
    float: right;
    margin: 0;
    white-space: nowrap;
}

.qr-code {
    float: right;
    margin-right: 22px;
}

.wx-qr {
    margin-bottom: .20rem;
}

.about-we {
    white-space: nowrap;
    margin-top: .32rem;
}

.under-note {
    color: #ffffff;
    font-size: .12rem;
    height: .30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #32c086;
}


/*媒体查询*/

@media screen and (max-width: 768px) {
    .weixin {
        float: left;
    }

    .qr-code {
        float: left;
        margin-left: 22px;
    }

    .about-we {
        margin-top: 0;
    }

    .hanbao {
        display: inline-block;
    }

    .btn-group button {
        display: none;
    }

}